* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #271344;
    --secondary: #ff4880;
    --blue: rgb(26, 185, 255);
    --yellow: rgb(255, 192, 0);
    --green: rgb(171, 205, 82);
    --coral: #FF6666;
}

html {
    overflow-x: hidden;
}

.secondary_nav {
    background-color: var(--primary);
}

.social_lnks{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.social_lnks li{
    border-radius: 50%;
    margin-left: 12px;
}

.social_lnks li:hover a{
    transform: rotateY('180deg');
}


.social_lnks li a{
    display: inline-block;
    color: white;
    padding: 5.5px 10px;
}


.social_lnks li:first-child{
    background-color: var(--blue);
}

.social_lnks li:nth-child(2){
    background-color: var(--yellow);
}

.social_lnks li:nth-child(3){
    background-color: var(--secondary);
}


.social_lnks li:nth-child(4){
    background-color: var(--green);
}

.contact_details{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact_details li{
    margin-right: 30px;
}

.contact_details li a {
    text-decoration: none;
    color: white;
    
}

.contact_details li a i {
    color: var(--yellow);
    margin-right: 8px;
    font-size: 15px;
    
}


.dropdown:hover .dropdown-menu{
    display: block;
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

.search_btn {
    padding: 2px;
    border: #ff4880 dashed 2px;
    border-radius: 50%;
    margin-left: 2.5rem;
}

.search_btn .search_icon {
    background-color: var(--secondary);
    color: white;
    display: inline-block;
    padding: 9px 13px;
    border-radius: 50%;
}


.navbar.sticky {
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,5%);
}


.navbar-nav .nav-item {
    padding-left: 2.5rem;
}

.dropdown-menu {
    padding: 28px 20px;
    border: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,.15);
}

.dropdown-menu::after {
    content: '';
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    border: 2px dashed rgba(255,72,128,.3);
    border-radius: 8px;
    z-index: -1;
}

.dropdown-menu li {
    padding: 0 12px;
}

.dropdown .nav-link {
    border-radius: 8px;
    transition: .3s all ease-in-out;
    color: black;
    padding: 4px 0;
    display: inline-block;
}

.dropdown .nav-link:hover {
    background-color: var(--secondary);
    border-radius: 8px;
    color: white;
}

.hero_section {
    display: flex;
    flex-direction: column;
    background-image: url(../img/bg-home-top-section.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 848px;
}

.animated_imgs .bird {
  margin: 20px 0 0 50px;
}

.bird {
  animation-name: column;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: column;
  animation-delay: 0s;
}

@keyframes column {
  0% {
      transform: translateY(0%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
      transform: translateY(0%);
  }
}

.animated_imgs .clouds {
  animation-name: row;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: row;
  animation-delay: 0s;
}

@keyframes row {
  0% {
    transform: translateX(0%);
  }
  50% {
      transform: translateX(-10%);
  }

  100% {
      transform: translateX(0%);
  }
}


.hero_section .hero_content h3 {
font-family: 'Schoolbell', cursive;
color: var(--secondary);
font-size: 20px;
letter-spacing: 3.4px;
font-weight: 600;
text-transform: uppercase;
margin-bottom: 10px;
}
.hero_section .hero_content h2 {
    font-family: 'Fredoka', sans-serif;
    color: var(--primary);
    font-size: 50px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 15px 0;
}

.hero_section .hero_content p {
    font-family: 'Fredoka', sans-serif;
    margin: 15px 0;
    color: #777;
    font-size: 17px;
    
    }

.hero_section .hero_content .more {
    background-color: var(--secondary);
    color: white;
    display: inline-block;
    padding: 13px 26px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    transition: .4s all ease-in-out;
}

.hero_section .hero_content .more:hover {
    background-color: var(--primary);
}


.core_values-content h3 {
font-family: 'Schoolbell', cursive;
text-align: center;
color: var(--secondary);
font-size: 17px;
letter-spacing: 3.4px;
font-weight: 600;
text-transform: uppercase;
margin-bottom: 10px;
}

.core_values-content h2 {
font-family: 'Fredoka', sans-serif;
text-align: center;
color: var(--primary);
font-size: 40px;
font-weight: 600;
text-transform: capitalize;
margin: 15px 0;
}

.core_values-content p {
font-family: 'Fredoka', sans-serif;
text-align: center;
margin: 15px 0;

}

.bee_img {
    margin: 0 auto;
    display: block;
    margin-bottom: 68px;
    animation-name: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0s;
}

@keyframes alternate {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(50%);
    }
}

.card_hover {
    transition: all .4s ease-in-out;
}

.card_hover:hover {
    transform: translateY(-20px);
}

.card_img {
    padding: 8px;
    border-radius: 50%;
    border: #fff dashed 2px;
    width: 176px;
    height: 176px;
    margin: 0 auto;
    animation: loading 3s linear infinite;
}

.card_img .card-img-top {
    width: 100%;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.card-body {
    font-family: 'Fredoka', sans-serif;
}

.card-text {
    padding: 0 0 2rem 0;
}

.enrollment {
    margin-top: 4.5rem;
    font-family: 'Fredoka', sans-serif;
}


.enrollment_text{
    font-family: 'Fredoka', sans-serif;
    margin: 15px 0;
    color: #777;
    font-size: 17px;
}

.enrollment_btn {
    background-color: var(--secondary);
    color: white;
    display: inline-block;
    padding: 13px 26px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .1s ease-in-out;
}

.enrollment_btn:hover {
    box-shadow: 0 5px #ea205e;
}


.back-to-top {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: var(--secondary);
    color: white;
    cursor: pointer;
    padding: 15px 20px;
    text-decoration: none;
  }

.back-to-top::after{
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    border: 2px dashed white;
    z-index: -1;
  }


.about_section {
    background-color: #fcf9f4;
}


.about_content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.about_img{
  animation-name: row;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: row;
  animation-delay: 0s;
}

@keyframes row {
  0% {
    transform: translateX(0%);
  }
  50% {
      transform: translateX(-10%);
  }

  100% {
      transform: translateX(0%);
  }
}

.about_content h2{
font-family: 'Fredoka', sans-serif;
color: var(--primary);
font-size: 40px;
font-weight: 600;
text-transform: capitalize;
margin: 15px 0;
}

.about_content p{
    font-family: 'Fredoka', sans-serif;
    margin: 15px 0;
    color: #777;
    font-size: 17px;
}

.learn_more {
    background-color: var(--secondary);
    color: white;
    display: inline-block;
    padding: 13px 26px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    transition: .4s all ease-in-out;
}

.learn_more:hover {
    background-color: var(--primary);
}

.progress_bgc {
    background-image: url(../img/bg_about-us.webp);
    height: 315px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;

}

.activity_wrapper {
    display: flex;
    flex-direction: column;
}

.activity_content h3{
    text-align: left;
    margin-bottom: 0;
}

.activity_content p{
    text-align: left;
}

.activity_badge {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: dashed 2px var(--green);
    padding: 3px;
}

.bg_video {
    background-image: url(../img/bg-video.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 818px;
    position: relative;
}

.accordian_wrapper {
    background-color: var(--primary);
}

.accordian_inner{
padding: 0 10%;
}
.accordian_inner h3{
font-family: 'Schoolbell', cursive;
color: var(--secondary);
font-size: 17px;
letter-spacing: 3.4px;
font-weight: 600;
text-transform: uppercase;
margin-top: 95px;
}

.accordian_inner h2{
    font-family: 'Fredoka', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 15px 0;
}

.accordian_inner p{
    font-family: 'Fredoka', sans-serif;
    color: white;
    margin-bottom: 65px;
}

.play_video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .user_avatar {
    list-style-type: none;
    display: flex;
    align-items: center;
  }

  .user_avatar li {
    margin-right: 1rem;
  }

  .user_avatar li a{
    color: #1ab9ff;
    font-size: 16px;
  }

  .item_date {
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 6px 20px;
    border: 2px solid #dfac11;
    border-radius: 15px;
    background-color: #ffc000;
    display: inline-block;
    color: #fff;
    font-size: 15px;
  }

  .event_section {
    background-image: url(../img/bg-events-page-title1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: -1;
  }

  .overlay {
    height: 100%;
    width: 100%;
    background-color: rgb(39, 19, 68,.6);
    position: absolute;
    z-index: -1;
  }

  .event_wrapper {
    padding: 6rem 0;
  }

  
  .event_date{
    margin: auto;
    background-color: var(--yellow);
    padding: 13px 26px;
    font-size: 20px;
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    border-radius: 30px;
    color: var(--primary);
    border: 2px white solid;
    width: fit-content;
    margin-bottom: 28px;

  }
  .event_title h2{
    color: white;
    font-weight: bold;
    font-family: 'Fredoka', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 45px;

  }

  .event_time {
    display: flex;
    justify-content: center;
    margin-bottom: 53px;
  }

  .event_time div{
    flex-basis: 136px;
    border: var(--coral) solid 2px;
    border-radius: 20px;
    margin: 0 15px;
  }

  .event_time div:nth-child(2){
    border: var(--yellow) solid 2px;
  }

  .event_time div:nth-child(3){
    border: var(--green) solid 2px;
  }

  .event_time div:nth-child(4){
    border: var(--blue) solid 2px;
  }

  .event_time div p{
    font-size: 50px;
    color: white;
    font-family: 'Fredoka', sans-serif;
    padding: 8px 0;
    background-color: rgba(255,72,128,.25);
    text-align: center;
    border-bottom: var(--coral) 2px solid;
    font-weight: bold;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

  }

  .event_time div:nth-child(2) p{
    background-color: rgba(255,192,0,.25);
    border-bottom: var(--yellow) 2px solid;

  }

  .event_time div:nth-child(3) p{
    background-color: rgba(171,205,82,.25);
    border-bottom: var(--green) 2px solid;

  }

  .event_time div:nth-child(4) p{
    background-color: rgba(26,185,255,.25);
    border-bottom: var(--blue) 2px solid;

  }

  .event_time div span{
    color: white;
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    display: block;
    font-size: 24px;
    font-weight: 500;
    padding: 8px 0;
    

  }

  .more_events {
    display: flex;
    justify-content: center;
  }

  .more_events a {
    background-color: var(--secondary);
    color: white;    
    font-family: 'Fredoka', sans-serif;
    padding: 0 26px;
    line-height: 48px;
    text-transform: capitalize;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

  }


  .testimonial_section {
    background-color: #fcf9f4;
  }

  .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,4px);
    background: var(--yellow);
    width: 14px;
    height: 14px;
    border: 2px solid var(--primary);
  }

  .testi_slide {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
  }
  
  
  
  .rating-box{
    width: 48%;
    background-color: #fff;
    padding: 35px 35px 28px;
    border-radius: 15px 100px 15px 15px;
    height: fit-content;
    position: relative;
    overflow: hidden;
    transition: all .5s ease;
    margin-bottom: 50px;
  }
  

  .rating-box::before{
  position: absolute;
  display: block;
  content: '';
  width: 85px;
  height: 85px;
  top: -10px;
  right: -10px;
  background: url(../img/turn-paper.png)no-repeat center;
  background-size: 85px;
  z-index: 111;
  }
  .rating-box-top{
  display: flex;
  margin-bottom: 20px;
  }
  .rating-box-top img{
  width: 60px;
  border-radius: 50%;
  border: 2px solid var(--secondary);
    }
  .rating-box-top h3{
  font-weight: bold;
  font-size: 18px;
  margin-left: 12px;
  color: var(--primary);
  position: relative;
  }
  .rating-box-top h3::before{
  position: absolute;
  background: url(../img/double-quotes.png) no-repeat center;
  display: block;
  content: '';
  width: 45px;
  height: 45px;
  top: -20px;
  right: -45px;
  background-size: 45px;
  }
  .rating-box-top h3::after{
  position: absolute;
  background: url(../img/five=star.png) no-repeat center;
  display: block;
  content: '';
  width: 86px;
  height: 86px;
  bottom: -30px;
  left: 0;
  background-size: 86px;
  }
  .rating-box p{
  color: rgb(107, 107, 107);
  font-weight: lighter;
  text-align: start;
  }

  .grass-ratings{
    position: relative;
    background-color: #ffa8c211;
  }
  .grass-ratings>.grass-top{
    margin-top: 0%;
    position: absolute;
    top: -48px;
    left: 2%;
    background-color: #ffa8c211;
  }
  .grass-ratings>.grass-bg{
  background: url(../imgs/bg_rating.webp)no-repeat center;
  background-size: 175%;
  width: 100%;
  height: fit-content;
  padding: 60px 0;
  background-color: #abcd52;
  }
  
  .grass-ratings>.grass-top>img{
    width: 94vw;
  }
  .grass-ratings>.grass-bg>.container>ul>li{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 8px;
  }
  
  .grass-ratings>.grass-bg>.container>ul>li::before{
  display: block;
  content: '';
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px dashed white;
  transition: all .2s ease inherit;
  color: white;
  }
  .grass-ratings>.grass-bg .container ul li:hover::before{
    animation: rotate 12s infinite linear;
  }
  .grass-ratings>.grass-bg>.container>ul>li>h1,h6{
    font-weight: bolder;
    margin-top: 8px !important;
  }

  .accordion-header {
    border-top-right-radius: 20px !important; 
     border-top-left-radius: 20px !important; 
     border-bottom-left-radius: 20px !important;
     border-bottom-right-radius: 20px !important;
   }
   
   .accordion-button{
   padding: 0%;
   overflow: hidden;
   padding-right: 12px;
   }
   .accordion-button>ul{
    list-style-type: none;
   }
   .accordion-button>ul>li>h6{
    font-weight: bolder;
    font-size: 20px
   }
   .accordion-button>ul>li:first-child{
     background-color:#ff2a6a13;
     padding: 16px;
   }
   .accordion-button-2>ul>li:first-child{
     background-color:#ffd1472c;
   }
   .accordion-button-3>ul>li:first-child{
     background-color:#bcdf6424;
   }
   .accordion-button-4>ul>li:first-child{
     background-color:#1abaff22;
   }
   .accordion-button>ul>li img{
     width: 30px;
   }
   .accordion-button>ul>li:nth-child(2){
    margin-top: 22px;
    margin-left: 24px;
   }
   
   
   
   .accordion-item:first-child {
     border-top-right-radius: 20px !important; 
      border-top-left-radius: 20px !important; 
   }
   .accordion-item:last-child {
     border-bottom-left-radius: 20px !important;
     border-bottom-right-radius: 20px !important;
   }
   
   
   .accordion-button:focus {
     background-color:transparent;
   }
   
   .accordion-button:focus {
     z-index: 3;
     border-color:transparent !important;
     border: transparent !important;
     outline: 0;
     box-shadow: var(--bs-accordion-btn-focus-box-shadow);
   }
   
   .accordion-button:not(.collapsed) { 
     font-weight: bold;
     background-color: transparent;
   box-shadow: inset 0 0 0 0 !important  ;
   }
   
   
   .accordion-item:first-of-type .accordion-button {
     border-top-right-radius: 20px;
     border-top-left-radius: 20px;
   }
   
   .accordion-item:last-of-type .accordion-button.collapsed {
     border-bottom-right-radius: 20px;
     border-bottom-left-radius: 20px;
   }
   
   
   .accordion-button:not(.collapsed)::after {
     background-image: url(../img/b-cross.png);
     background-size: 30px;
     width: 30px;
     height: 30px;
   }
   .accordion-button::after {
     background-image: url(../img/b-plus.png);
     background-size: 30px;
     width: 30px;
     height: 30px;
   }
   .accordion-button-2:not(.collapsed)::after {
     background-image: url(../img/b-cross.png);
   }
   .accordion-button-2::after {
     background-image: url(../img/b-plus.png);
   }
   .accordion-button-3:not(.collapsed)::after {
     background-image: url(../img/b-cross.png);
   }
   .accordion-button-3::after {
     background-image: url(../img/b-plus.png);
   }
   .accordion-button-4:not(.collapsed)::after {
     background-image: url(../img/b-cross.png);
   }
   .accordion-button-4::after {
     background-image: url(../img/b-plus.png);
   }
  .footer_wrap {
    background-color: #351C5A;
  }

  .footer_bg-img {
    padding-top: 98px;
  }

  .social_lnks-wrapper {
    list-style-type: none;
  }
  
  .contact_us-wrapper {
    list-style-type: none;
  }
  .contact_us-wrapper li {
    margin-bottom: 10px;
  }

  .contact_us-wrapper li a {
    text-decoration: none;
    color: white;
    font-family: 'Fredoka', sans-serif;
    
  }
  
  .contact_us-wrapper li a > i {
    color: var(--yellow);
    padding-right: 1rem;
  }

  .form_control {
    width: 257.5px;
  }

  .form_control input {
    width: 257.5px;
    height: 48px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding-left: 1rem;
    margin-bottom: 10px;
  }

  .subscribe {
    background-color: var(--secondary);
    color: white;
    text-decoration: none;
    font-family: 'Fredoka', sans-serif;
    display: inline-block;
    padding: 12px 93.565px;
    font-weight: bold;
    border-radius: 10px;
    transition: .4s all ease-in-out;
  }

  .subscribe:hover {
    background-color:white;
    color: black;
  }

  .term_services {
    background-color: var(--primary);
  }

  .enroll_section {
    background-color: var(--green);
  }


  .btn_hover {
    background-color: white;
    color: black;
    display: inline-block;
    padding: 13px 26px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
  }

  .btn_hover:hover {
    background-image: linear-gradient(to left,#ff4880,#271344);

  }

  .gallery_section {
    background-color: #fcf9f4;
  }
  .gallery_section h2{
    color: var(--primary);
    font-family: 'Fredoka', sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding: 55px 0;
  }


